#quizTitle {
    text-align: center;
    padding-top: 40px;
}

#scoreLabel {
    text-align: center;
    padding-top: 40px;
}

.lead {
    text-align: center;
    padding-top: 20px;
}

#startBtn {
    margin-top: 40px;
    color: white;
    background-color: dimgray;
}

.scoreIntro {
    text-align: center;
    padding-top: 20px;
}

#quizTitle {
    text-align: center;
    padding-top: 40px;
}